@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


* {
	padding: 0;
	margin: 0;
	font-family: 'Dela Gothic One', cursive;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header h1 {
	text-align: center;
	padding: 10px 10px;
}

body {
	background-color: black;
	color: white;
}

main p {
	color: fuchsia;
}

footer {
	text-align: center;
	
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
	
	height: -webkit-fill-avalible;
	
	padding: 10px;
	background-color: white;
	color: black;
}

footer p {
	display: inline;
	margin-right: 10px; 
}

footer a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-size: 20px;
	color: fuchsia;
	text-shadow: 1px 3px black;
}

#map {
	height: calc(100vh - 110px);
	width: auto;
}

#map p {
	color: black;
}


/* Stile per i marker del gruppo A (rosso) */
.custom-icon-i-am-hare {
	background-color: black;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini {
	background-color: #FFA240;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-mezzo {
	background-color: #8338ec;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-nuovo {
	background-color: #7209b7;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-piccolo {
	background-color: #d90429;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-struttura-m3 {
	background-color: #ff5400;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-intero {
	background-color: #8c5e58;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-struttura-m2 {
	background-color: #80ffdb;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-struttura-m {
	background-color: #49a078;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-mezzo {
	background-color: #ffe45e;
	border-radius: 50%;
	border: solid white 1px;
}

.custom-icon-cestini-struttura-b {
	background-color: #00509d;
	border-radius: 50%;
	border: solid white 1px;
}